annotated-types==0.6.0
python-decouple==3.8
exceptiongroup==1.2.0
fastapi==0.109.0
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
starlette==0.35.1
typing_extensions==4.9.0
uvicorn==0.25.0
pusher==3.3.2
