aiomysql==0.2.0
annotated-types==0.6.0
bcrypt==4.1.2
databases==0.8.0
fastapi==0.109.0
pusher==3.3.2
pydantic==2.5.3
pydantic-settings==2.1.0
pydantic_core==2.14.6
PyMySQL==1.1.0
python-decouple==3.8
python-dotenv==1.0.0
python-jose==3.3.0
requests==2.31.0
SQLAlchemy==1.4.51
starlette==0.35.1
typing_extensions==4.9.0
uvicorn==0.25.0
